<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Список сотрудников</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th id="name">Имя</th>
        <th id="surname">Фамилия</th>
        <th id="secondName">Отчество</th>
        <th id="post">Должность</th>
        <th id="recruitmentDate">Дата устройства</th>
        <th id="terminationDate">Дата увольнения</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees | async">
        <td>{{employee.name}}</td>
        <td>{{employee.surname}}</td>
        <td>{{employee.secondName}}</td>
        <td>{{employee.post}}</td>
        <td>{{employee.recruitmentDate}}</td>
        <td>{{employee.terminationDate}}</td>
        <td>
          <button (click)="terminateEmployee(employee.id, employee)" class="btn btn-info">Уволить</button>
        </td>
        <td>
          <button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Удалить</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
