<div class="panel panel-primary">
  <div class="panel-body">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Больше всего специалистов</h3>
      </div>
      <div class="panel-body" *ngIf="topPost | async; let top">
        {{top.postname}} {{top.employersCount}}
      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Средний опыт работы</h3>
      </div>
      <div class="panel-body" *ngIf="averageExperience | async; let ae">
        {{ae.years}} лет {{ae.month}} месяцев {{ae.days}} дней
      </div>
    </div>
  </div>
</div>
