<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Test</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="employees" class="nav-link" routerLinkActive="active">Список сотрудников <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Добавить сотрудника</a>
      </li>
      <li class="nav-item">
        <a routerLink="statistic" class="nav-link" routerLinkActive="active">Статистика</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container container-fluid">
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
