<h3>Регистрация нового сотрудника</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">имя</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="employee.name" name="firstName">
    </div>

    <div class="form-group">
      <label for="surname">Фамилия</label>
      <input type="text" class="form-control" id="surname" required [(ngModel)]="employee.surname" name="lastName">
    </div>

    <div class="form-group">
      <label for="secondName">Отчество</label>
      <input type="text" class="form-control" id="secondName" required [(ngModel)]="employee.secondName" name="emailId">
    </div>

    <div class="form-group">
      <label for="post">Должность</label>
      <input type="text" class="form-control" id="post" required [(ngModel)]="employee.post" name="emailId">
    </div>
<!--
    <div class="form-group">
      <label for="recruitmentDate">Дата устройства</label>
      <input type="text" class="form-control" id="recruitmentDate" required [(ngModel)]="employee.recruitmentDate" name="emailId">
    </div>-->

    <button type="submit" class="btn btn-success">Сохранить</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
